.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.container {
  display: grid;
  max-width: 250px;
  height: 350px;
  border: black 1px solid;
}

.top {
  display: flexbox;
  height: 140px;
  background-color: rgb(124, 0, 0);
  font-size: 8px;
}

.bottom {
  display: flexbox;
  height: 210px;
  background-color: rgb(124, 0, 0);
}

.mini-display {
  display: grid;
  height: 30%;
  background-color: rgb(70, 70, 70);
  color: white;
}

.display {
  display: grid;
  justify-items: end;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: rgb(70, 70, 70);
}

h1 {
  color: white;
  margin: 0 auto;
  font-size: 50px;
  padding: 0px 10px 0px 0px;
}

.row {
  display: grid;
  height: 42px;
  grid-template-columns: 25% 25% 25% 25%;
}

.footer {
  display: grid;
  height: 42px;
  grid-template-columns: 50% 25% 25%;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  border: 0.5px solid black;
}

.orange {
  background-color: orange;
}

.orange:focus {
  border: 1px solid black;
}
